.sign-form{
    width: 300px;
    padding: 40px;
    background:#fff;
    color: #ad2542;
    margin: 10 auto;
    border-radius: 10px ;
    box-shadow: 8px 8px 15px rgba(86, 43, 226, 0.5);

}
.sign-form h2 {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    text-underline-position: below;
    
}


.sign-form label {
    display: block;
    width: 15px;
    height: 5px;
    padding: 2px 0;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 2PX;
    border: 5px;
    font-size: 25px;
}
.sign-form input {
    display: block;
    color: #25ad57;
    margin:35px 20px 28px 60px;
    padding: 0%;
    border: 29px 24px 25px 27px;
}

*{
    margin: 35px 25px 15px 10px;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}
body {
    margin: 31%;
    padding:0%;
    margin-top: 15%;
    margin-bottom: auto;
    margin-top: auto;
    
    
    
}
.sign-form button{
    color: rgb(255, 115, 0);
    margin-right: auto;
    padding: 0%;
    border:right;
    cursor: pointer;
    
}

body{
    background-image: url(Softwaregnineering.png);

}
    

